<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <!-- Release .NET SDK feed -->
    <add key="nuget-org" value="https://api.nuget.org/v3/index.json" />

    <!-- Development .NET SDK feeds, see https://github.com/dotnet/symstore  -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
   </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>
